

    <div id="wrapper">

      <h1>Note Scraper</h1>
      <h2><i>must be comfortable knowing that there is so much I dont know</i></h2>
      <h3>All of this is in an index.handlebars file</h3>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>

